<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcme.hascomamharic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:icon="@drawable/icon_hascom"
        android:theme="@style/MyMaterialTheme"
        >
        <activity
            android:name="com.gcme.hascomamharic.activity.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.activity.MainActivity"
            android:label="@string/app_name"
            >


        </activity>
        <activity
            android:name="com.gcme.hascomamharic.hiliwinawTabClass.Hiliwinaw"
            android:label="የእግዚአብሔር ህልዉና"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.hiliwinawTabClass.Hiliwinaw1"
            android:label="የእግዚአብሔር ህልዉና"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.hiliwinawTabClass.Hiliwinaw2"
            android:label="የእግዚአብሔር ህልዉና"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.hiliwinawTabClass.Hiliwinaw3"
            android:label="የእግዚአብሔር ህልዉና"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.hiliwinawTabClass.Hiliwinaw4"
            android:label="የእግዚአብሔር ህልዉና"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.hiliwinawTabClass.Hiliwinaw5"
            android:label="የእግዚአብሔር ህልዉና"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.yehiwotTiyakewochTabClass.YehiwotTiyake"
            android:label="የህይወት ጥያቄዎች"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.yehiwotTiyakewochTabClass.YehiwotTiyake1"
            android:label="የህይወት ጥያቄዎች"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.yehiwotTiyakewochTabClass.YehiwotTiyake2"
            android:label="የህይወት ጥያቄዎች"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.yehiwotTiyakewochTabClass.YehiwotTiyake3"
            android:label="የህይወት ጥያቄዎች"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.yehiwotTiyakewochTabClass.YehiwotTiyake4"
            android:label="የእግዚአብሔር ህልዉና"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.yehiwotTiyakewochTabClass.YehiwotTiyake5"
            android:label="የህይወት ጥያቄዎች"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.yehiwotTiyakewochTabClass.YehiwotTiyake6"
            android:label="የህይወት ጥያቄዎች"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.yehiwotTiyakewochTabClass.YehiwotTiyake7"
            android:label="የህይወት ጥያቄዎች"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>

        <activity
            android:name="com.gcme.hascomamharic.fikirinawesibTabClass.FikirnaWesib"
            android:label="ወሲብ እና የፍቅር ግንኙነት"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.fikirinawesibTabClass.FikirnaWesib1"
            android:label="ወሲብ እና የፍቅር ግንኙነት"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.fikirinawesibTabClass.FikirnaWesib2"
            android:label="ወሲብ እና የፍቅር ግንኙነት"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.fikirinawesibTabClass.FikirnaWesib3"
            android:label="ወሲብ እና የፍቅር ግንኙነት"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.fikirinawesibTabClass.FikirnaWesib4"
            android:label="ወሲብ እና የፍቅር ግንኙነት"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.fikirinawesibTabClass.FikirnaWesib5"
            android:label="ወሲብ እና የፍቅር ግንኙነት"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.fikirinawesibTabClass.FikirnaWesib6"
            android:label="ወሲብ እና የፍቅር ግንኙነት"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.fikirinawesibTabClass.FikirnaWesib7"
            android:label="ወሲብ እና የፍቅር ግንኙነት"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.fikirinawesibTabClass.FikirnaWesib8"
            android:label="ወሲብ እና የፍቅር ግንኙነት"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.fikirinawesibTabClass.FikirnaWesib9"
            android:label="ወሲብ እና የፍቅር ግንኙነት"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.fikirinawesibTabClass.FikirnaWesib10"
            android:label="ወሲብ እና የፍቅር ግንኙነት"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.fikirinawesibTabClass.FikirnaWesib11"
            android:label="ወሲብ እና የፍቅር ግንኙነት"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.egziabherinMawekTabClass.EgziabherinMawek"
            android:label="እግዚአብሔርን ማወቅ"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.egziabherinMawekTabClass.EgziabherinMawek1"
            android:label="እግዚአብሔርን ማወቅ"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.egziabherinMawekTabClass.EgziabherinMawek2"
            android:label="እግዚአብሔርን ማወቅ"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.egziabherinMawekTabClass.EgziabherinMawek3"
            android:label="እግዚአብሔርን ማወቅ"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.egziabherinMawekTabClass.EgziabherinMawek4"
            android:label="እግዚአብሔርን ማወቅ"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.egziabherinMawekTabClass.EgziabherinMawek5"
            android:label="እግዚአብሔርን ማወቅ"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.egziabherinMawekTabClass.EgziabherinMawek6"
            android:label="እግዚአብሔርን ማወቅ"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity
            android:name="com.gcme.hascomamharic.egziabherinMawekTabClass.EgziabherinMawek7"
            android:label="እግዚአብሔርን ማወቅ"
            android:parentActivityName="com.gcme.hascomamharic.activity.MainActivity">
        </activity>
        <activity android:name="com.gcme.hascomamharic.activity.WebView">

        </activity>
        <activity android:name="com.gcme.hascomamharic.activity.AboutUs"
            android:label="ስለ እኛ"
            >

        </activity>
        <activity android:name="com.gcme.hascomamharic.activity.Feedback"
            android:label="አስተያየት"
            >

        </activity>
        <activity android:name="com.gcme.hascomamharic.activity.TeleEshtaol"

            android:label="ቴል_ኤሽታኦል">

        </activity>
        <activity android:name="com.gcme.hascomamharic.activityFilmoch.ActivityThirty5"
            android:label="ፊልሞች ይመልከቱ">
        </activity>
        <activity android:name="com.gcme.hascomamharic.activityFilmoch.ActivityThirty6"
            android:label="ፊልሞች ይመልከቱ">
        </activity>
        <activity android:name="com.gcme.hascomamharic.activityFilmoch.ActivityThirty7"
            android:label="ፊልሞች ይመልከቱ">
        </activity>
        <activity android:name="com.gcme.hascomamharic.activityFilmoch.ActivityThirty8"
            android:label="ፊልሞች ይመልከቱ">
        </activity>
        <activity android:name="com.gcme.hascomamharic.activityFilmoch.ActivityThirty9"
            android:label="ፊልሞች ይመልከቱ">
        </activity>
        <activity android:name="com.gcme.hascomamharic.activityFilmoch.ActivityFourty"
            android:label="ፊልሞች ይመልከቱ">
        </activity>


    </application>

</manifest>